<div class="container">
    <div class="menu-bar">
        <h6 class="appellation">{{ card.name }}</h6>
        <div class="game-mode">
            <div class="game-name">Mode de jeu  <mat-icon class="menu-icon">sports_esports</mat-icon></div>
            <mat-form-field class="game-mode-panel">
                <mat-select disableRipple [(ngModel)]="selectedValue" (selectionChange)="onGameModeChange($event.value)">
                    <mat-option *ngFor="let option of options" [value]="option.value" [disabled]="option.disabled">
                        {{ option.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="map">
        <point-and-click *ngIf="selectedValue === 'pointAndClick'" [svgPath]="card.photo"></point-and-click>
        <forced-search *ngIf="selectedValue === 'forcedSearch'" [svgPath]="card.photo"></forced-search>
        <find-all *ngIf="selectedValue === 'findAll'" [svgPath]="card.photo"></find-all>
        <auto-search *ngIf="selectedValue === 'autoSearch'" [svgPath]="card.photo"></auto-search>
    </div>
</div>