<section>
    <form class="search">
        <input
                type="text"
                placeholder="Rechercher une appellation"
                [(ngModel)]="searchText"
                name="filter"
                (ngModelChange)="applyFilter()"
        />

        <select [(ngModel)]="sortField" name="sortField" (change)="applyFilter()">
            <option value="name">Nom</option>
            <option value="type">Type</option>
            <option value="region">Région</option>
        </select>

        <button type="button" (click)="toggleSortDirection()">
            {{ sortAsc ? '▲' : '▼' }}
        </button>
    </form>
    <section class="results">
        <app-card
                *ngFor="let card of filteredCardList"
                [cardContent]="card">
        </app-card>
    </section>
</section>